@model UserSettings
<form method="POST">
  <label asp-for="UserId">Email</label>
  <input asp-for="UserId" />

  <label asp-for="FullName">Full Name</label>
  <input asp-for="FullName" />

  <button type="submit">Send...</button>
</form>